@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
}

@layer utilities {
    .container {
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;

        @media (min-width: 640px) {
            max-width: 640px;
        }

        @media (min-width: 768px) {
            max-width: 768px;
        }

        @media (min-width: 1024px) {
            max-width: 1024px;
        }

        @media (min-width: 1280px) {
            max-width: 1280px;
        }

        @media (min-width: 1128px) {
            max-width: 1128px;
        }
    }
}